* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;

}

html {
    scroll-behavior: smooth;
}

#header {
    border: 0.5px solid;
    background: hwb(240 0% 69%);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}


.titulo {
    display: contents;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    color: white;
}

h2 {
    margin-left: 70px;
    margin-top: 50px;
}

.head {
    display: flex;

}

.infoHead {
    display: flex;
    margin-left: 600px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.btnCita{
    list-style: none;
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.btnCita >  li > a{
    display: block;   
    padding: 0px;
    font-size: 16px;
    background-color: hwb(240 0% 69%);
    color: white;
    transition: all 300ms;
}

.btnCita a {
    color: white;
    padding: 15px;
    transition: all 200ms;
}

.btnCita a:hover {
    background: rgb(182, 181, 181);
    border-radius: 10px;
}

.tituloCita{
    margin-left: 600px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.logoCita{
    margin-top: -50px;
}

#AgendaCita {
  background-color:  hwb(240 0% 69%);
}

#DatosCita {
  width: 30%;
  height: auto;
  margin: 0px auto;
  border: 10px;
  border-radius: 15px;
  margin-top: 60px;
  min-height: 500px;
  background: #fcfafa;
}

form {
    padding: 20px; 
  }

#field2 {

  height: 480px;
}

#titulo {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    background-color: hwb(240 0% 69%);
    text-align: center;
    color: white;
}

.des{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    color: hsl(0, 0%, 55%);
}

label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.reg{
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
}

#reg{
    color:  hwb(240 0% 69%);
}


#botonCita input[type="submit"]{
  margin-left: 2px;
  background-color: hwb(240 0% 69%);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  size: 40px;
  padding: 5px 180px;
}


.logo {
    display: flex;
    margin-top: -53px;
    margin-left: 5px;
}

#login{
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    margin-top: -200px;
    color: white;
}

#barra {
    text-decoration: none;
    height: 90px;
    margin-top: -20px;
    display: flex;
    border: 0.5px solid white;
    align-items: center;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#barra>ul {
    height: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-around;
    list-style: none;
    margin-left: 300px;



}

#barra a {
    color: hwb(240 0% 69%);
    padding: 15px;
    transition: all 200ms;
    border: 0.5px solid grey;
}

#barra a:hover {
    background: grey;
}

#container {
    margin: 0px auto;
    min-height: 999px;
    background-color: hwb(240 0% 69%);
    list-style: none;
    margin-top: -12px;
}

#infoGeneral{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 300px;
}

#infoGeneral > h2{
    font-size: 40px;
    color: white;
}

#infoRedes{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 300px;
}

#infoRedes > h2{
    font-size: 40px;
    color: white;
}

.p{
    display: flex;
    font-size: 16px;
    margin-top: 2;
    width: 700px;
    align-items: center;
    margin-left: 450px;
    color: white;
    text-align: justify;
}

#tituloCards {
    font-size: 30px;
    background-color:hwb(240 0% 69%);
}

.cards{
    display: flex;
    background-color:grey;
    color: hwb(240 0% 69%);
    align-items: center;
    margin-top: -55px;
    background-image: url(../img/hospital.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.card1, .card2, .card7 {
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.8); 
}


.card1 .card-body,
.card2 .card-body,
.card3 .card-body,
.card4 .card-body,
.card5 .card-body,
.card6 .card-body,
.card7 .card-body {
    padding: 10px;
}

.card1 .card-title,
.card2 .card-title,
.card3 .card-title,
.card4 .card-title,
.card5 .card-title,
.card6 .card-title,
.card7 .card-title {
    margin-top: 0;
}


.card {
    border: 1px solid #ccc; 
    border-radius: 5px; 
    margin-bottom: 20px; 
    background-color: rgba(255, 255, 255, 0.8);
}

.card-body {
    padding: 20px; 
}

.card-title {
    margin-top: 0; 
}


#cards > a {
    text-decoration: none;
}

.card1{
    width: 700px;
    height: 700px;
    text-align: center;
    margin-left: 480px;

}

#botonCard1 > ul > li > a{
    display: block;
    margin: 4px 2px;    
    padding: 0px;
    font-size: 16px;
    margin-left: 20px;
    margin-right: -70px;
    text-decoration: none;
    background-color: hwb(240 0% 69%);
    color: white;
    transition: all 300ms;
    list-style: none;
}

#botonCard1 ul{
    list-style: none;
    margin-left: 45px;
    margin-right: 150px;
}

#btnCard1 a:hover {
    background-color: white;
    color: hwb(240 0% 69%);
}

.card2{
    width: 700px;
    height: 700px;
    text-align: center;
    margin-left: 47px;
}

#botonCard2 > ul > li > a{
    display: block;
    margin: 4px 2px;    
    padding: 0px;
    font-size: 16px;
    margin-left: 30px;
    margin-right: -70px;
    text-decoration: none;
    background-color:  hwb(240 0% 69%);
    color: white;
    transition: all 300ms;
    list-style: none;
}

#botonCard2 ul{
    list-style: none;
    margin-left: 45px;
    margin-right: 150px;
}

#btnCard2 a:hover {
    background-color: white;
    color:  hwb(240 0% 69%);
}


.card3{
    width: 700px;
    height: 250px;
    text-align: center;
    margin-left: -620px;
}

.card4 {
    width: 700px;
    height: 250px;
    text-align: center;
    margin-left: 47px;
}

.card5{
    width: 700px;
    margin-top: 290px;
    text-align: center;
    margin-left: -620px;
}

.card6{
    width: 700px;
    margin-top: 290px;
    text-align: center;
    margin-left: 47px;
}

.card7{
    width: 700px;
    margin-top: 660px;
    text-align: center;
    margin-left: -460px;
}

.imgInicio{
    margin-top: -55px;
}

#headerServicios {
    border: 0.5px solid;
    background:  hwb(240 0% 69%);
}


.tituloServicios {
    display: contents;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    color: white;
}

h2 {
    margin-left: 70px;
    margin-top: 50px;
}

.headServicios {
    display: flex;

}

.infoHeadServicios {
    display: flex;
    margin-left: 600px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.RedesSociales1{
    margin-left: -400px;
}

.RedesSociales2{
    margin-left: 450px;
    margin-top: -255px;
}

#infoAlDia{
    margin-top: -100px;
    height: 500px;
}

.contactenos{
    font-size: 40px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.direccion{
    align-items: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.dire{
    margin-left: 50px;
}

.emergencias{
    align-items: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.mapa{
    align-items: center;
    text-align: center;
}

.footIndex{
    height: 400px;
    background-color: grey;
}

.infoFoot{
    color:  hwb(240 0% 69%);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.container {
    display: flex;
    justify-content: center; 
    align-items: flex-start;
    margin-top: 50px; 
}

.slider {
    color: hwb(240 0% 69%);
    background-color: white;
    margin-left: 350px;
    width: 40%; 
    height: 200px; 
    overflow: auto; 
    border: 1px solid #ccc; 
}

.slider-container {
    display: flex;
    flex-direction: column;
}

.person-item {
    margin: 5px;
}

.roles-dropdown {
    display: inline-block;
    margin-left: 30px;
    width: 100%; 
    max-width: 300px; 
    margin-top: 10px;
}

#rolesDropdown {
    font-size: 16px; 
}

#rolesDropdown option {
    font-size: 16px; 
    padding: 5px 10px; 
}

#confirmButton {
    display: block; 
    margin-top: 130px;
    font-size: 16px;
    width: 110px;
}

#userTable {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

#userTable th,
#userTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#userTable th {
    background-color: #f2f2f2;
}

#userTable tbody tr:hover {
    background-color: aqua;
    cursor: pointer;
}

#userTable tbody tr.selected {
    background-color: aqua;
}
